@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#0a5f38 20%, #f2f2f2 20%);

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
