@import "tailwindcss";

:root {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#0a5f38 20%, #f2f2f2 20%);

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
